@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0F1025;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  color: white;
}

.container {
  max-width: 1240px;
  margin: 0px auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  font-weight: 600;
}
header .container a {
  color: white;
}
header .container .logo img {
  width: 100%;
  height: 50px;
}
header .container .menu ul {
  display: flex;
}
header .container .menu li {
  margin-right: 2em;
}
header .container .menu li_hover {
  cursor: pointer;
}
header .container .cta {
  border-radius: 5px;
  background-color: #8AFE8F;
  padding: 0.5em 1em;
  font-weight: 600;
}
header .container .cta a {
  color: black;
}