@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0F1025;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  color: white;
}

.container {
  max-width: 1240px;
  margin: 0px auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.cta {
  border-radius: 5px;
  background-color: #8AFE8F;
  padding: 0.5em 1em;
  font-weight: 500;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.cta-inverse {
  border-radius: 5px;
  background-color: #2E4C41;
  padding: 0.5em 1em;
  font-weight: 500;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8AFE8F;
}

.cta-black {
  border-radius: 5px;
  background-color: black;
  padding: 0.5em 1em;
  font-weight: 500;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.text-green {
  color: #8AFE8F;
}

.row {
  padding: 2% 0;
  min-height: 100vh;
}

.bg-blue {
  background-color: #002851;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  font-weight: 600;
}
header .container .logo img {
  width: 100%;
  height: 50px;
}
header .container .menu ul {
  display: flex;
}
header .container .menu li {
  margin-right: 2em;
}
header .container .menu li a {
  color: white;
}
header .container .menu li:hover {
  cursor: pointer;
}

.banner .banner-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  grid-column: 1/span 3;
}
.banner .banner-left a {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 700;
}
.banner .banner-left .cta-inverse {
  padding: 2% 4%;
}
.banner .banner-left h1 {
  font-size: 3.5rem;
  line-height: 1em;
}
.banner .banner-left p {
  font-size: 1.23em;
}
.banner .banner-right {
  grid-column: 4/span 2;
}
.banner .banner-right img {
  width: 40em;
}

.about {
  padding: 4.5em 0;
}
.about .about-text {
  text-align: center;
  padding-bottom: 5em;
}
.about .about-text p:first-child {
  font-size: 1em;
  font-weight: 600;
}
.about .about-text h1 {
  font-size: 3em;
  font-weight: 800;
  padding-bottom: 0.3em;
}
.about .about-text p:last-child {
  font-size: 1.2em;
  line-height: 1.5em;
}
.about .about-grid {
  text-align: center;
  padding: 0 6em 5em;
  justify-content: center;
  align-items: center;
  gap: 4em;
}
.about .about-grid .item-one, .about .about-grid .item-three, .about .about-grid .item-two {
  grid-column: span 2;
}
.about .about-grid .item-one h3, .about .about-grid .item-three h3, .about .about-grid .item-two h3 {
  font-size: 1.3em;
  padding-bottom: 2%;
}
.about .about-grid .item-one h2, .about .about-grid .item-three h2, .about .about-grid .item-two h2 {
  padding-bottom: 1%;
}
.about .about-grid .item-one p, .about .about-grid .item-three p, .about .about-grid .item-two p {
  font-size: 0.9em;
  line-height: 1.5em;
}
.about .about-card {
  border-radius: 7px;
  background-color: white;
  padding: 4em 2em;
  max-width: fit-content;
  background-image: url(../images/bg-patterns.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about .about-card .about-card-text {
  grid-column: span 4;
  color: black;
  padding-right: 6em;
}
.about .about-card .about-card-text h3 {
  font-size: 1.5em;
  font-weight: 800;
  padding-bottom: 0.3em;
}
.about .about-card .about-card-text p {
  font-weight: 500;
}
.about .about-card .about-buttons {
  grid-column: 5/span 2;
  display: flex;
  gap: 1em;
  justify-content: space-around;
}
.about .about-card .about-buttons a {
  font-size: 0.8em;
}
.about .about-card .about-buttons img {
  padding-right: 10px;
}
.about .about-card .about-buttons .cta-black {
  background-color: #0b0c1c;
}
.about .about-card .about-buttons .cta-black:hover {
  background-color: #002851;
  cursor: pointer;
}
.about .about-card .about-buttons .cta {
  border: 2px solid #8AFE8F;
}
.about .about-card .about-buttons .cta:hover {
  background-color: rgba(138, 254, 143, 0.2);
  cursor: pointer;
}

.benefits {
  padding: 7.5em 0;
  background-image: url(../images/left-pattern.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
.benefits .row {
  min-height: 50vh;
}
.benefits .grid {
  gap: 2em;
}
.benefits .benefits-left {
  grid-column: span 3;
}
.benefits .benefits-left h3 {
  font-size: 1.6em;
  font-weight: 800;
  padding-bottom: 0.7em;
}
.benefits .benefits-left ul {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  list-style-type: disc;
}
.benefits .benefits-right {
  grid-column: span 3;
  background-image: url(../images/spiral.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
.benefits .benefits-right .first {
  font-size: 0.9em;
  padding: 1em 3.3em;
  text-align: center;
  background-color: #0F1025;
  width: fit-content;
  grid-column: 7/13;
}
.benefits .benefits-right .benefits-card-one {
  border-radius: 7px;
  background-color: #002851;
  width: fit-content;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  grid-column: 1/7;
  position: absolute;
  top: 1em;
  right: 3em;
  padding: 1em 2.5em;
}
.benefits .benefits-right .benefits-card-one .cta {
  padding: 0.5em;
}
.benefits .benefits-right .benefits-card-two {
  border-radius: 7px;
  background-color: #002851;
  width: fit-content;
  padding: 1em 2em;
  grid-column: 7/13;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  gap: 1em;
  margin-bottom: 1em;
}
.benefits .benefits-right .benefits-card-two .card-two-right img {
  width: 60px;
  border-radius: 2px;
}
.benefits .benefits-right .benefits-card-three {
  border-radius: 7px;
  background-color: #002851;
  width: fit-content;
  padding: 1em 2em;
  grid-column: 3/10;
}
.benefits .benefits-right .benefits-card-three .benefits-card-three-images {
  margin-top: 1em;
  padding-bottom: 0.5em;
  display: flex;
  gap: 0.3em;
}
.benefits .benefits-right .benefits-card-three .benefits-card-three-images img {
  width: 60px;
}